/* Header Section */
html{
    scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0;
}
.header{
  background-color: #000000;
  height:5rem;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.logo{
  color: white;
  font-size: 2.5rem;
  margin-left: 3rem;
  line-height: 5rem
}

nav ul {
  float: right;
  margin-right:3rem;
  margin-top: 1.2rem;
}
nav ul li{
    display: inline;

  line-height: 3rem;

}
nav ul li a{
  color: white;
text-decoration: none;
padding: 1rem;
border-radius: .5rem;
text-transform: uppercase;
font-size: 0.9rem;
}

nav ul li a:hover {
  transition: 0.5;
  background-color: #2C3333;
  padding: 1rem;
}
.mobile-navbar{
  display: none;
}
.mobile-navbar .fa-solid[name="closebar"]{
  display: none;
}
/* Home Hero section */
.home-hero{
  display: flex;
  height: 85vh;
  justify-content:center;
  height: auto;
}
.hero{
background-color:#577A3E;
color: #E0DA19;
display: flex;
flex-direction: column;
padding-left: 5%;
justify-content:center;
font-size: 3rem;
width:33.5%;
height: auto;
}
.home{
  width:66.5%;
  height:auto;
  display: flex;
}
.About{
  text-align: center;
  line-height: 4;
  padding: 2% 10%;;
  background-color: #D9D9D9;
  opacity: 80%;
color:#262626 ;
background-size: cover;
background-repeat: no-repeat;
z-index: 1;
}
.About h1{
  padding-bottom: 5%;
  font-size: 3rem;
}

/* Menu bar */
#menu{
  text-align: center;

  background: url('https://content3.jdmagicbox.com/comp/una-himachal_pradesh/k9/9999p1975.1975.220530184143.d7k9/catalogue/chai-booze-una-ho-una-himachal-pradesh-cold-drink-parlours-l52gyxr6vv.
      ');
  color:#F5F5F5;
}
.menu-bar{
  background-color: #577a3ee8;
padding: 2% 0;
}
.catalogue{
  display: flex;
  justify-content: center;
}
.tea{
  display: inline;
  padding: 2% 10%;
  line-height: 2;
  text-align: left;
  background-color:#334724d1;
  border-radius: 30px;
}
.tea ul{
  list-style: none;
}
.Combo{
padding: 2% 7%;
line-height: 3;
text-align: left;
background-color:#334724d1;
border-radius: 30px;
margin-left: 5%;
}
.Combo ul {
  list-style: none;
}
ul{
  padding-left: 0;
}
#menu h1{
  padding-bottom: 3%;
  font-size: 3rem;

}
lh{
  font-size: 1.5rem;
}
/* Review section */

#review{
  background-image: url("kesar.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
}
.positive{
  background-color: #141212e3;
  height: 80vh;
  width: 100%;
  color: white;
  display: flex;
}

.r1{
  margin: 3% 2%;
  padding: 1% 1%;
  background-color:#39202091;
  border-radius: 10px;
  line-height: 2;
  /* contact details */

}
 .punch{
background-color: #141212e3;
width: 100%;
height:100%;
  }
  /* footer */
  .foot{
    display: flex;
    padding: 10% 3%;
    color: white;
    background-color: black;
  }
  .outro{
    margin: 0 10%;
    line-height: 2;
    font-size: 2.5rem;
  }
  .social{
line-height: 5;
margin: auto;
}
a{
  margin-right:20px;
}

@media (max-width: 62rem) {

.navbar{
 background-color: #000000;
height: 50vh;
width: 100%;
text-align: center;
margin: 0;
justify-content:center;
line-height: 1;
transform:translateY(-120%);
transition: all 0.2s linear;
position:static;
}
.mobile-navbar{
  color: white;
  display: block;
  float: right;
  margin-top:25px;
  padding-right: 25px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
nav ul li{
  display: block;
}
.logo{
  font-size: 1.9rem;
  z-index: 10;

}
.active.navbar{
  transform:translateY(0%);
  z-index: 100;

}
.active.mobile-navbar .fa-solid[name="menubar"]{
  display: none;

}
.active.mobile-navbar .fa-solid[name="closebar"]{
  display: block;
  }
  nav{
    display: block;
  }
  .catalogue{
    flex-direction: column;
  }
  .Combo{
    margin: 3% auto;
    text-align: center;
    padding: 1%;
  }
  .tea{
    text-align: center;
    margin:3%;
    padding: 10%;
  }
  .positive{
    flex-direction: column;
  }
  .r1{
    margin-top: 3px;
    justify-content: center;
    align-items: center;
  }
.home-hero{
  padding-top: 70px;
}
}
@media (max-width: 31rem) {
  .hero{
    font-size: 1.8rem;
    width: 100%;
    height: 40vh;
    text-align: center;
  }
  .home{
    width: 100%;
  }
  .home-hero{
   flex-direction: column-reverse;
  }
  .foot{
    flex-direction: column;
    text-align: center;
  }
}
